{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Add your cars here</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Input Car brand</label>
            <input class="form-control" type="text" id='brand' name="brand">
        </div>
        <div class="form-group">
            <label for="">Input Car year</label>
            <input class="form-control" type="text" id='year' name="year">
        </div>
        <input class='btn btn-primary' type="Submit">
    </form>

</div>

{% endblock content %}


